* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    position: relative;
}

.bottomClass {
    position: fixed;
    bottom: 2%;
    left: 1.7%;
    padding: 20px 40%;
    background: #DF4E2B;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: 900;
    cursor: pointer;
    transform: scale(0.99);
    transition: 900ms;
    border: none;
    z-index: 10000000;
}

.bottomClass:active {
    transform: scale(1.1);
}

.orderRight {
   
    width: 100%;
    min-height: 100%;
    background: #E5E5E5;
    position: fixed;
    z-index: 100;
    transition: 900ms;
    right: 0%;
    z-index: 101000000000000000000000000;
}

.orderRightFalse {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    background: #E5E5E5;
    position: fixed;
    z-index: 101000000000000000000000000;
    right: -100%;
    transition: 900ms;
}

button {
    cursor: pointer;
}

.mycontainer {
    width: 90%;

    margin: 0 auto;

}



// order ================================================================



.mainorder {

    .bottomFixed {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: absolute;
        bottom: 2%;

       
        .btnorder_primary {
            background: #DF4E2B;
            border-radius: 10px;
            font-size: 18px;
            color: white;
            font-weight: 900;
            padding: 15px 25px;
            transition: 900ms;
            border: none;
            margin-right: 25%;
            
        }

        .btnorder {
            padding: 15px 20px;
            border-radius: 10px;
            border: 2px solid #DF4E2B;
            font-size: 18px;
            color: #DF4E2B;
            font-weight: bold;
        }
    }

}



// stol++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++




.stolName{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background: #DF4E2B;


}
h1{
    text-align: center;
    margin: 10px;
    color:  #DF4E2B;
}

.card{
    width: 100%;
    height: auto;
    background: #E5E5E5;
    border-radius: 20px;
    padding: 5px;
}
.category{

    h2{
        font-size: 20px;
        padding: 10px;
        color: #DF4E2B;
        font-weight: bold;
    }
}