* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --primary-color: #e0c521;
}

body {
    position: relative;
}

.bottomClass {
    position: fixed;
    bottom: 2%;
    left: 1.7%;
    padding: 20px 40%;
    background: #DF4E2B;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: 900;
    cursor: pointer;
    transform: scale(0.99);
    transition: 900ms;
    border: none;
    z-index: 10000000;
}

.bottomClass:active {
    transform: scale(1.1);
}

.orderRight {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: #E5E5E5;
    position: fixed;

    transition: 500ms;
    right: 0%;
    bottom: 0;
    z-index: 10100000000000000000;
}

.orderRightFalse {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: #E5E5E5;
    position: fixed;
    z-index: 101000000000000000000000000;
    right: -100%;
    bottom: 0;
    transition: 500ms;
}

button {
    cursor: pointer;
}

.mycontainer {
    width: 90%;

    margin: 0 auto;

}



// order ================================================================



.mainorder {

    .bottomFixed {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: absolute;
        bottom: 2%;

       
        .btnorder_primary {
            background: #DF4E2B;
            border-radius: 10px;
            font-size: 18px;
            color: white;
            font-weight: 900;
            padding: 15px 20px;
            transition: 900ms;
            border: none;
            margin-right: 2%;
            
        }

        .btnorder {
            padding: 0.6rem 0.8rem;
            font-size: 1.2rem;
            text-align: center;
            border: 0;
            outline: none;
            border-radius: 10px;
            width: 80px;
            margin-left: 10px;
            box-shadow: 1px -3px 52px -5px rgba(0,0,0,0.77);
            cursor: pointer;
        }
        .btnorder:nth-child(1) {
          margin-right: 10%;
        }
    }

}



// stol++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++




.stolName{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background: #DF4E2B;


}
h1{
    text-align: center;
    margin: 10px;
    color:  #DF4E2B;
}

.card{
    width: 100%;
    height: auto;
    background: #E5E5E5;
    border-radius: 20px;
    padding: 5px;
}
.category{

    h2{
        font-size: 20px;
        padding: 10px;
        color: #DF4E2B;
        font-weight: bold;
    }
}
.butdiv{
    display: flex;
    justify-content: space-between;
}




// button =============================================================

.btn{
    padding: 0.6rem 0.8rem;
    font-size: 1.2rem;
    text-align: center;
    border: 0;
    outline: none;
    border-radius: 10px;
    width: 70px;
    margin-left: 10px;
    box-shadow: 1px -3px 52px -5px rgba(0,0,0,0.77);
    cursor: pointer;
}
.btn.add{
    background-color: var(--primary-color);

}
.btn.remove{
    background-color: tomato;

}

.btn.checkout{
    background-color: rgb(38, 121, 38);
    width: 150px;
    color: #fff;
    font-size: 14px;
}
.btn:active{
    transform: scale(.98);
}

.btn.btn.remove:hover{
    background-color: rgb(209,83,61);
}
.btn.remove:active{
    background-color: rgb(185,73,64);
}
.btn.checkout:hover{
    background-color: rgb(41,141,41);
}
.btn.checkout:active{
    background-color: rgb(30,93,41);
}
.apiclass{
    h3{
        font-size: 22px;
        color: #DF4E2B;
        padding: 10px 0;
    }
    .h4{
        font-size: 18px;
        font-weight: 900;
        color: #dfb52b;
        margin-left: 10px;
    }
}

.image__container{
    img{
        width: 100%;
    }
}

.cardt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 250px;
    background: white;
    padding: 0.5rem 0.3rem;
    margin: 13px 10px;
    position: relative;
    border-radius: 5px;

}

.card__title {
    font-weight: 400;
    text-align: center;
}

.card__title .card__price {
    font-weight: bold;

}

.image__container{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.image__container img {
    width: 100%;
    object-fit: cover;
}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card__price{
    text-align: center;
    display: inline-block;
}
.card__badge{
    position: absolute;
    top: 15px;
    right: 0px;
    width: 40px;
    height: 40px;
    background-color: rgb(227,112,30);
    border-radius: 50%;
    transform: translate(20px,-20px) scale(1);
    color: #fff;
    font-weight: bold;
    border: 2px solid rgb(227,112,30);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .3s ease;
    animation: scaleanimation 1s ease infinite;
    opacity: 0.8;
}

@keyframes scaleanimation {
    to{
        transform: translate(20px,-20px) scale(1.05);
        opacity: 1;
    }
}

.card__badge--hidden{
    display: none;
}



// cart ==================================================================

.cart__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin: 5px 15px;
}

// error page ============================================================================================================

main{

    width: 100%;
    min-height: 100%;

     .card{
        padding-top: 45px;
     }
    .notfound{
        width: 100%;
        border-radius: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        img{
            width: 100%;
            border-radius: 20px;
        }
    }
}